.nav{
    background-color: black;
    margin: -8px;
    height: 20px;
    
    

    
}
.nav a{
    display: flex;
    float: right;
    justify-content: space-around;
    float: right;
    flex-direction: row;
    text-decoration: none;
    color: aliceblue;
    margin-left: 10px;
}

